{% extends 'base.html' %}

{% block title %}
Calculator Tools - PyToolsHub
{% endblock %}

{% block description %}
Free online calculator tools for students, job seekers and everyday calculations.
{% endblock %}

{% block content %}

<div class="container py-5">

```
<div class="text-center mb-5">

    <h1 class="fw-bold display-5">

        Calculator Tools

    </h1>

    <p class="lead">

        Free online calculators for students,
        education and daily use.

    </p>

</div>

<div class="row g-4">

    <div class="col-md-4">

        <div class="card tool-card shadow p-4 text-center">

            <h4>

                Age Calculator

            </h4>

            <a href="/age-calculator/"
               class="btn btn-success mt-3">

                Open Tool

            </a>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card tool-card shadow p-4 text-center">

            <h4>

                Percentage Calculator

            </h4>

            <a href="/percentage-calculator/"
               class="btn btn-success mt-3">

                Open Tool

            </a>

        </div>

    </div>

    <div class="col-md-4">

    <div class="card tool-card shadow p-4 text-center">

        <h4>
            CGPA Calculator
        </h4>

        <a href="/cgpa-calculator/"
           class="btn btn-success mt-3">

            Open Tool

        </a>

    </div>

</div>

    <div class="col-md-4">

    <div class="card tool-card shadow p-4 text-center">

        <h4>EMI Calculator</h4>

        <a href="/emi-calculator/"
           class="btn btn-success mt-3">

            Open Tool

        </a>

    </div>

</div>

    <div class="col-md-4">

        <div class="card tool-card shadow p-4 text-center">

            <h4>

                BMI Calculator

            </h4>

            <a href="/bmi-calculator/"
               class="btn btn-success mt-3">
                Open Tool
            </a>

        </div>

    </div>

</div>
```

</div>

{% endblock %}
