{% extends 'base.html' %}

{% block title %}
Passport Photo Maker Online Free - PyToolsHub
{% endblock %}

{% block description %}
Create passport size photo online free for government forms, visa, ID cards and job applications.
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="text-center mb-5">

        <h1 class="fw-bold display-5">
            Passport Photo Maker
        </h1>

        <p class="lead mt-3">

            Create passport size photo online instantly.

        </p>

    </div>

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card main-card shadow-lg p-5">

                <form method="POST"
                      enctype="multipart/form-data">

                    {% csrf_token %}

                    <div class="mb-4">

                        <label class="form-label fw-bold">
                            Upload Photo
                        </label>

                        <input type="file"
                               name="image"
                               class="form-control form-control-lg"
                               required>

                    </div>

                    <button type="submit"
                            class="btn btn-success btn-lg w-100">

                        Create Passport Photo

                    </button>

                </form>

                {% if passport_image %}

                <div class="alert alert-success text-center mt-4">

                    <h4>
                        Passport Photo Created!
                    </h4>

                    <img src="/media/{{ passport_image }}"
                         class="img-fluid rounded shadow mt-3"
                         style="max-height:300px;">

                    <br><br>

                    <a href="/media/{{ passport_image }}"
                       download
                       class="btn btn-success">

                        Download Photo

                    </a>

                </div>

                {% endif %}

            </div>

        </div>

    </div>

</div>

{% endblock %}